/* HomePage.css */

.homepage {
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden; 
}

.hero-section {
  text-align: center;
  width: 100%;
  height: 50vh;  
  overflow: hidden; 
}

.hero-image {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
}

  
  .content-section {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .content-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .content-image {
    width: 200px;
    margin-bottom: 20px;
  }
  
  p {
    margin: 0;
    line-height: 1.5;
  }
  